MYSQL_DATABASE=streamhub
MYSQL_USER=streamhub
MYSQL_PASSWORD=streamhub
MYSQL_ROOT_PASSWORD=streamhub-root
MINIO_ROOT_USER=streamhub
MINIO_ROOT_PASSWORD=streamhub-minio
ROCKETMQ_NAMESRV_ADDR=localhost:9876
ROCKETMQ_ACTIVITY_TIMEOUT_DELAY_LEVEL=3
